<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vsec.com.yupax">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".app.YupaxApps"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/LoginTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key" />

        <activity android:name=".ui.screen.login.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.screen.home.activity.HomeActivity"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.screen.login.activity.ForgotPasswordActivity"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".ui.screen.login.activity.LanguageActivity"
            android:theme="@style/LoginTheme" />
        <activity android:name=".ui.screen.home.activity.HistoryTransactionActivity" />
        <activity android:name=".ui.screen.home.activity.ChangePasswordActivity" />
        <activity android:name=".ui.screen.login.activity.ResendActiveCodeActivity" />
        <activity
            android:name=".ui.screen.home.activity.ChangeProfileActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".ui.screen.home.activity.EventDetailActivity" />
        <activity
            android:name=".ui.screen.home.activity.StoreDetailActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".ui.screen.home.activity.RateActivity" />
        <activity android:name=".ui.screen.login.activity.SignInActivity" />
        <activity android:name=".ui.screen.login.activity.RegisterActivity" />
        <activity android:name=".ui.screen.login.activity.MerchantActivity"></activity>
    </application>

</manifest>